.mdl-layout__drawer-button.jrf-back-button {
    line-height: 42px;
    color: rgba(white, .5);
}

.mdl-layout__header-row.jrf-icon-row {
    .mdl-navigation:first-child {
        margin-left: -24px;
        .is-small-screen & { margin-left: -16px; }
    }

    .mdl-navigation__link {
        @include display-flex;
        @include flex-direction(row);
        @include align-items(center);

        .material-icons {
            margin-right: 8px;
        }
    }

    .mdl-button:not(:last-child) {
        margin-right: 8px;
    }

    .mdl-textfield {
        padding: 22px 0;
    }
}

.jrf-login-layout {
    background: rgba(#4e342e, .85);
}

.jrf-login-item {
    background: white;
    text-align: center;
    margin: 5vh auto;
    max-width: 640px;
}

.jrf-result-table {
    margin: 0 auto 1.5em;
}
