// Issue and articles page
@import "compass/css3/transform";
@import "compass/typography/lists";
@import "compass/typography/links/hover-link";

.jrf-issue-ribbon {
    min-height: 70vh;
    position: relative;

    + footer {
        clear: both;
    }
}

.jrf-issue-ribbon-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #555;
    background-position: center;
    background-size: cover;
    opacity: .1;
}

.jrf-issue-container {
    @include translateZ(0); // Fixes view surface bug
}

.jrf-issue-article {
    padding: 24px;
}

.jrf-issue-nav {
    padding: 24px;
}

.jrf-article-layout {

    @include large-tablet-up {
        .jrf-issue-container {
            padding: 48px 0 24px;
            margin: 0 24px;
            max-width: 1080px;
        }

        .jrf-issue-article {
            float: left;
            width: 66.67%;
            margin-bottom: 64px;
            padding: 32px;
        }

        .jrf-issue-nav {
            display: table-cell; // Google’s approach to fix padding sep. by float
            padding: 0 0 0 32px;
        }
    }

    @include desktop-up {
        .jrf-issue-container {
            padding: 48px 0 24px;
            margin: auto;
        }

        .jrf-issue-article {
            width: 720px;
            padding: 64px;
        }

        .jrf-issue-nav {
            padding-left: 56px;
        }
    }
}

.jrf-issue-layout {
    .jrf-issue-ribbon {
        display: none;
        @include tablet-up {
            display: block;
        }
    }

    .jrf-issue-container {
        @include tablet-up {
            max-width: 720px;
            margin: -60vh auto 64px;
            padding: 0;
        }
    }
}

.jrf-issue-header {
     border-radius: 2px;

     .jrf-issue-cover {
         border-radius: 2px;
         background-position: top center;
         background-size: cover;

         &::before {
             content: "";
             display: block;
             padding-top: 100%;
         }
     }
}

.jrf-issue-card {
    .mdl-card__actions {
         border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
}

.jrf-issue-articles {
    $issue-padding: 32px;
    padding: $issue-padding;

    > h5 {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        padding: $issue-padding $issue-padding 0;
        margin-left: -$issue-padding;
        margin-right: -$issue-padding;

        &:first-child {
            margin-top: -$issue-padding;
            padding-top: $issue-padding;
        }
    }

    h6 {
        font-size: inherit;
        font-weight: bold;
        margin: 8px 0;
    }

    .jrf-issue-entry + .jrf-issue-entry {
        padding-top: 16px;
    }

    h5, h6 {
        a { @include hover-link; }
    }
}

.jrf-issue-article {
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }

    p {
        text-indent: 1em;
    }
}

.jrf-issue-nav {
    padding-left: 56px;
    color: white;

    h6 {
        margin: 8px 0 16px;

        > a {
            color: white;
            @include hover-link;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @include no-bullets;

        a {
            color: #efebe9;
            display: block;
            margin-right: -14px;
            padding: 6px 14px;
            font-size: .92857em;
            font-weight: inherit;
            text-decoration: none;

            &:hover, &:focus { background: rgba(#4e342e, .4); }
            &:active { background: rgba(#4e342e, .8); }
        }
    }

    li.active {
        margin-left: -2px;

        > a {
            border-left: 2px white solid;
            color: white;
            font-weight: bold;
        }
    }
}
