// Issue and articles page
@import "compass/css3/transform";
@import "compass/typography/lists";
@import "compass/typography/links/hover-link";

.jrf-issue-ribbon {
    height: 70vh;
    overflow: hidden;

    .jrf-issue-ribbon-cover {
        width: 100%;
        height: 100%;
        background-color: #555;
        background-position: center;
        background-size: cover;
        opacity: .1;
    }
}

.jrf-issue-layout .page-content {
    margin-top: -65vh;
    margin-bottom: 80px;
    @include translateZ(0); // Fixes view surface bug
}

.jrf-issue-header {
     margin-bottom: 32px;
     border-radius: 2px;

     .jrf-issue-cover {
         border-radius: 2px;
         background-position: top center;
         background-size: cover;

         &::before {
             content: "";
             display: block;
             padding-top: 100%;
         }
     }
}

.jrf-issue-card {
    .mdl-card__actions {
         border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
}

.jrf-issue-content > .content {
    min-height: 70vh;
    border-radius: 2px;
    padding: 24px 40px;
}

.jrf-issue-articles {
    > :first-child {
        margin-top: 0;
    }

    > h5:not(:first-child) {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        padding: 16px 40px 0;
        margin-left: -40px;
        margin-right: -40px;
    }

    h6 {
        font-size: inherit;
        font-weight: bold;
        margin: 8px 0;
    }

    .jrf-issue-entry + .jrf-issue-entry {
        padding-top: 16px;
    }

    h5, h6 {
        a { @include hover-link; }
    }
}

.jrf-issue-nav {
    padding-left: 56px;
    color: white;

    h6 {
        margin: 8px 0 16px;

        a {
            color: white;
            @include hover-link;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @include no-bullets;

        a {
            color: #efebe9;
            display: block;
            padding: 6px 0 6px 14px;
            font-size: .92857em;
            font-weight: inherit;
            text-decoration: none;

            &:hover, &:focus { background: #6d4c41; }
            &:active { background: #5d4037; }
        }
    }

    li.active {
        margin-left: -2px;

        a {
            border-left: 2px white solid;
            color: white;
            font-weight: bold;
        }
    }
}
