$tablet-min-width: 768px;
$large-tablet-min-width: 955px; // 608px + 32px + 267px + 24px * 2 (padding)
$desktop-min-width: 1148px; // 1080px + 24px * 2

@mixin tablet-up {
    @media screen and (min-width: $tablet-min-width) {
        @content;
    }
}

@mixin large-tablet-up {
    @media screen and (min-width: $large-tablet-min-width) {
        @content;
    }
}

@mixin desktop-up {
    @media screen and (min-width: $desktop-min-width) {
        @content;
    }
}
