@import "flexbox";

* {
    box-sizing: border-box;
}

.main-drawer {
    border: none;
}

.mdl-navigation.main-navigation {
    @include flex-grow(1);

    .mdl-navigation__link {
        @include display-flex;
        @include flex-direction(row);
        @include align-items(center);

        font-weight: 500;
    }

    .material-icons {
        margin-right: 32px;
        .is-small-screen & {
            margin-right: 16px;
        }
    }

    &.mdl-color--brown-800 .mdl-navigation__link {
        color: rgba(255, 255, 255, .56);
        &:hover {
            background-color: #BCAAA4;
            color: #37474F;
        }
    }

    &.mdl-color--brown-800 .material-icons {
        color: rgba(255, 255, 255, .56);
    }
}

.main-header {
    min-height: 64px;
    padding: 16px;

    h6 {
        margin: 16px 0 0 0;
        font-weight: 600;
    }

    .avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: white;
    }
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, .54);
}

.page-content {
    max-width: 1080px;
    margin: auto;
}

.pagination {
    color: #BCAAA4;
    font-size: 14px;
    margin: auto;
    text-align: center;

    a {
        display: inline-block;
        font-weight: 500;
        height: 36px;
        line-height: 36px;
        padding: 0 16px;
        text-decoration: none;

        &:hover { background: #D7CCC8; }
    }
}

.magazine-card {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: "";
        padding-top: 100%;
    }

    .mdl-card__actions {
        background: rgba(0, 0, 0, .36);
        color: #fff;

        a, a:visited {
            color: #fff;
            text-decoration: none;
        }
    }

    .card-mouse-area {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

.search-form {
    padding: 16px;

    .search-field {
        width: 90%;
    }
}

.search-row-wrapper {
    @include flex-grow(1);
    @include align-items(center);

    background: #f5f5f5;
    border-radius: 4px;
    padding: .5em 1em .5em 56px;
    position: relative;

    .mdl-layout__header & .material-icons {
        position: absolute;
        left: 16px;
        top: 9px;
    }

    input {
        display: block;
        background: transparent;
        border: none;
        font-size: 1em;
        outline: none;
        padding: .25em 0;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

.mdl-textfield__input {
    -webkit-appearance: none; /* Fixes Safari displaying border */
}

.featured-card .mdl-card__title {
    background: #E91E63;
    background-position: center;
    background-size: cover;
    padding-top: 100%;
}

.material-icons.large {
    font-size: 56px;
}

.stretch.page-content {
    padding: 24px 0;
    min-height: calc(100vh - 100px);

    .mdl-layout--fixed-header & {
        min-height: calc(100vh - 156px);
    }

    &.single {
        padding: 24px;
        max-width: 948px;
    }
}

.jrf-article-item {
    text-align: left;

    .single & {
        background: #fff;
        h4 { margin: 12px 8px; }
    }

    .mdl-card__title a {
        color: inherit;
        font-weight: inherit;
        text-decoration: none;

        &:hover { color: #E91E63; }
    }

    .mdl-card__supporting-text {
        @include flex-grow(1);
    }

    .mdl-card__actions {
        @include display-flex;
        color: darken(white, 54%);
        font-size: 14px;
        height: 52px;
        padding: 16px;
    }

    .category {
        padding-left: 22px;
        position: relative;

        &.announcement:before { background: #FF8A65; }
        &.email:before { background: #FFB74D; }
    }

    .category:before {
        background: #A1887F;
        border-radius: 50%;
        content: "";
        display: block;
        height: 14px;
        left: 0;
        position: absolute;
        top: 2px;
        width: 14px;
    }

    .category > a {
        color: inherit;
        font-weight: inherit;
        text-decoration: none;

        &:hover { color: #424242; }
    }
}

// Single page layout overrides
@import "index";
@import "issue";
@import "admin";
